@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .web-container {
    @apply container mx-auto;
  }
  
  .flex-center {
    @apply flex items-center;
  }

  .flex-center-center{
    @apply flex items-center justify-center;
  }

  .flex-start-col{
    @apply flex items-start flex-col;
  }

  .flex-start{
    @apply flex items-start;
  }



  .flex-center-between{
    @apply flex items-center justify-between;
  }

  .absolute-top-50{
    @apply absolute top-2/4  translate-y-1/2;
  }

  .absolute-top-30{
    @apply absolute top-1/3;
  }

  .header-css-15{
    @apply font-semibold text-font-15 text-primary-10 hover:text-primary-20;
  }
  
  .header-css-13{
    @apply font-semibold text-font-13 text-primary-10 hover:text-primary-20;
  }

  .header-border{
    @apply border border-custom-border-gray bg-white rounded-md;
  }

  .category_style{
    @apply rounded-15 md:rounded-4xl w-16 h-16 md:w-30 md:h-30 flex-center-center;
  }

  .main_slide_title{
    @apply text-primary-10 text-sm md:text-base font-medium min-h-0 md:min-h-[48px] line-clamp-2;
  }

  .notification-popup_mobile{
    @apply mt-2 w-full bg-white rounded-lg p-4 border border-custom-border-gray;
  }

  .absolute_center{
    @apply  top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
  }
}

@layer utilities {

  .z-9{
    z-index:9;
  }
  .z-999{
    z-index:999;
  }

  .p-30{
    padding:30px;
  }
  .pt-10{
    padding-top: 10px;
  }

  .pl-15{
    padding-left:15px;
  }


  .pt-25{
    padding-top: 25px;
  }
  
  .pt-30{
    padding-top: 30px;
  }

  .pt-50 {
    padding-top: 50px;
  }

  .pt-80 {
    padding-top: 80px;
  }


  .pt-100{
    padding-top:100px;
  }
  .pt-130{
    padding-top:130px;
  }

  .pb-30 {
    padding-bottom: 30px;
  }

  .pb-50 {
    padding-bottom: 50px;
  }

  .px-15px{
    padding-left:15px;
    padding-right:15px;
  }


  .px-25px{
    padding-left:25px;
    padding-right:25px;
  }


  .px-20px{
    padding-left:20px;
    padding-right:20px;
  }

  .px-30px{
    padding-left:30px;
    padding-right:30px;
  }

  .py-5px{
    padding-top:5px;
    padding-bottom:5px;
  }

  .py-7px{
    padding-top:7px;
    padding-bottom:7px;
  }

  .py-30px{
    padding-top:30px;
    padding-bottom:30px;
  }


  .py-100px{
    padding-top:100px;
    padding-bottom:100px;
  }


  .py-15px{
    padding-top:15px;
    padding-bottom:15px;
  }

  .mt-10{
    margin-top:10px;
  }

  .mt-30{
    margin-top:30px;
  }

  .mt-40{
    margin-top:50px;
  }

  .mt-50{
    margin-top:50px;
  }

  .mt-70{
    margin-top:70px;
  }

  .mt-140{
    margin-top:140px;
  }

  .mb-5{
    margin-bottom:5px;
  }

  .mb-10{
    margin-bottom:10px;
  }

  .mb-15{
    margin-bottom:15px;
  }

  .mb-20{
    margin-bottom:20px;
  }

  .mb-25{
    margin-bottom:25px;
  }

  .mb-30{
    margin-bottom:30px;
  }

  .mb-35{
    margin-bottom:35px;
  }

  .mb-40{
    margin-bottom:40px;
  }

  .mb-50{
    margin-bottom:50px;
  }

  .mb-65{
    margin-bottom:65px;
  }


  .mb-70{
    margin-bottom:70px;
  }

  .mb-80{
    margin-bottom:80px;
  }

  .mb-150{
    margin-bottom:150px;
  }

  .mb-200{
    margin-bottom:200px;
  }

  .pb-100 {
    padding-bottom: 100px;
  }

  .px-30{
    padding-left:30px;
    padding-right:30px;
  }

  .c_gap-15{
    column-gap: 15px;
  }

  .c_gap-5{
    column-gap: 5px;
  }

  .black-font{
    color:#202020;
  }

  .rounded-10{
    border-radius:10px;
  }

  .rounded-15{
    border-radius:15px;
  }

  .rounded-20px{
    border-radius:20px;
  }

  .rounded-4xl{
    border-radius:30px;
  }

  


  .w-30{
    width:120px;
  }

  .w-15{
    width:60px;
  }

  .h-30{
    height:120px;
  }

  .gap-col-15{
    column-gap:15px;
  }

  .font-size_20{
    font-size:20px;
  }

  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .blue-gradient{
    background: linear-gradient(116deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.30) 100%), #1677FF;
  }

  .green-gradient{
    background: linear-gradient(116deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.30) 100%), #00A58C;

  }

  .purple-gradient{
    background: linear-gradient(116deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.30) 100%), #511CFF;
  }


  #mobile-menu {
    transform: translateX(110%);
}

/* When menu is active */
#mobile-menu.active {
    transform: translateX(0);
}

.notification-popup_mobile { display:none; max-height: 0; overflow: hidden; transition: max-height 0.3s ease-out; } 
.notification-popup_mobile.active { display:block; max-height: 300px;}

.selected {
  border:1.5px solid #2BCFBB!important;
  color: #2BCFBB !important;
  background-color: rgb(43, 207, 187,0.05) !important;
  font-weight:700;
}

select option {
  color: #333; 
  padding: 8px; 
  background: white; 
}

select:focus {

}

}