<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Main Page</title>
    
    <!-- 페이지별 추가 CSS -->
    <!-- <th:block layout:fragment="css">
        <link th:href="@{/css/index.css}" rel="stylesheet">
    </th:block> -->
    
    <!-- 페이지별 추가 JavaScript -->
    <!-- <th:block layout:fragment="script">
        <script th:src="@{/js/index.js}"></script>
    </th:block> -->
</head>
<body>
    <main layout:fragment="content">
        <h1>Welcome to the Main Page!</h1>
        <p>This is the home page content.</p>
    </main>
</body>
</html>