<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/empty-layout}"> 
<head>
    <title>회원가입</title>
    
    <th:block layout:fragment="css">
   
    </th:block>
</head>
<body>
    <main layout:fragment="content">
        <div class="bg-primary-85 w-screen h-screen ">
            <div class="flex-center-center flex-col h-full max-w-[350px] mx-auto">
                <img th:src="@{/images/logo.svg}" alt="logo" class=" mb-65">
                <div class="flex-center flex-col w-full gap-2.5 mb-15">
                    <a href="#" class="w-full relative rounded-2xl border border-primary-60 bg-white flex-center-center h-[60px] px-30px ">
                        <img th:src="@{/images/sign/mail.png}" alt="mail" class="w-[50px] aspect-square absolute left-[30px]">
                        <p class="text-primary-10 text-font-15 font-bold text-center">이메일 주소로 시작하기</p>
                    </a>
                    <a href="#" class="w-full relative rounded-2xl  bg-primary-30 flex-center-center h-[60px] px-30px">
                        <img th:src="@{/images/sign/naver.png}" alt="naver" class="w-[50px] aspect-square absolute left-[30px]">
                        <p class="text-white text-font-15 font-bold text-center">네이버로 시작하기</p>
                    </a>
                    <a href="#" class="w-full relative rounded-2xl  bg-primary-40 flex-center-center h-[60px] px-30px">
                        <img th:src="@{/images/sign/kakao.png}" alt="kakao" class="w-[50px] aspect-square absolute left-[30px]">
                        <p class="text-secondary-20 text-font-15 font-bold text-center">카카오로 시작하기</p>
                    </a>
                    <a href="#" class="w-full relative rounded-2xl border border-primary-60 bg-white flex-center-center h-[60px] px-30px">
                        <img th:src="@{/images/sign/google.png}" alt="google" class="w-[50px] aspect-square absolute left-[30px]">
                        <p class="text-primary-50 text-font-15 font-bold text-center">Google로 시작하기</p>
                    </a>
                    <a href="#" class="w-full relative rounded-2xl  bg-black flex-center-center h-[60px] px-30px">
                        <img th:src="@{/images/sign/apple.png}" alt="Apple" class="w-[50px] aspect-square absolute left-[30px]">
                        <p class="text-white text-font-15 font-bold text-center">Apple로 시작하기</p>
                    </a>
                </div>
                <div class="flex-center-center gap-2.5 mb-35">
                    <p class="font-bold text-primary-10 text-sm opacity-50">이미 회원이신가요?</p> 
                    <a href="#" class="font-bold text-primary-20">로그인</a>
                </div>
                <ul class="flex-center-between w-full ">
                    <li>
                        <a href="#" class="font-medium text-sm text-primary-10 opacity-30">
                            미브 소개
                        </a>
                    </li>
                    <li>
                        <a href="#" class="font-medium text-sm text-primary-10 opacity-30">
                            이용약관
                        </a>
                    </li>
                    <li>
                        <a href="#" class="font-medium text-sm text-primary-10 opacity-30">
                            개인정보처리방침
                        </a>
                    </li>
                    <li>
                        <a href="#" class="font-medium text-sm text-primary-10 opacity-30">
                            운영정책
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    <th:block layout:fragment="script">

    </th:block>
</body>
</html>